* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #0f2f7b,
            #3e0432);

}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}